body {
    background-image: url("/images/background.png");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Poppins', sans-serif;
  }