
.invite-member-container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    height: 35vh; 
    min-height: 120px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.invite-member-title {
    color: #791717;
    background-color: #edcb7c;
    border-radius: 5px;
    padding: 3px 6px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.3rem;
    margin-bottom: 8px;
}
.invite-member-advice {
    color: #791717;
    background-color: #f4b764;
    border-radius: 5px;
    padding: 3px 6px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    margin-bottom: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.user-to-invite {
    font-size: 1rem;
    color: #791717;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}

.invite-member-button {
    padding: 8px 12px;
    background-color: #da4834;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 8px 0;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

button:hover {
    background-color: #b52d1e;
}

p {
    color: #791717;
    font-size: 1rem;
    text-align: center;
}

.message-success {
    color: green;
    font-weight: bold;
}

.message-error {
    color: red;
    font-weight: bold;
}
@media (max-width: 550px) {
    .invite-member-title , .invite-member-advice {
        font-size: 1rem; 
    }
}

@media (max-width: 375px) {
    .invite-member-title , .invite-member-advice {
        font-size: 0.9rem; 
    }
}