.workspace-screen-container {
    background-color: beige;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    height: 90vh;
    opacity: 0.90;
}

/* Títulos dentro del componente WorkspaceScreen */
h2 {
    color: #791717;
    background-color: #edcb7c;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.tema-advice {
    color: #791717;
    background-color:#f4b764;
    border-radius: 5px;
    padding: 3px 6px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    margin-bottom: 8px;
    max-width:300px ;
    
}

.tema-title {
    color: #791717;
    background-color: #edcb7c;
    border-radius: 5px;
    padding: 3px 6px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    margin-bottom: 8px;
}

/* Estilo para la lista de canales */
.channel-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    

}

.channel-items a {
    color: #791717 !important;  /* Color uniforme para todos los enlaces */
    text-decoration: none;
}

.channel-items a:hover {
    color: #da4834;  /* Color cuando pasas el mouse */
}

.channel-items a:visited {
    color: #791717 !important;  /* Evita que los enlaces visitados cambien de color */
}

.channel-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.channel-item a {
    text-decoration: none;
    color: #791717;
    font-size: 1.2rem;
}

.channel-item a:hover {
    color: #da4834;
}

/* Estilo para el formulario de mensajes */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}

button {
    padding: 10px 15px;
    background-color: #da4834;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px 0;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #b52d1e;
 
}

.button-create-channel {
    margin-left: 10px ;}


.messages-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    height: 65vh;
    overflow-y: auto;
    border-radius: 8px;
}


.channel-message {
    margin-top: 10px;
}
.channel-items {
    padding: 10px;
   max-height: 100px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

h4 {
    color: #791717;
    font-size: 1rem;
    font-weight: bold;
}

p {
    color:#791717;
    font-size: 1rem;
   margin: 0 auto;
        text-align: center;
     
    }
    


    .home-button {
        background-color: #f44336; 
      }

.workspace-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
 

.channels-container {
    display: 'flex';
    flex-direction: column;
    gap: '8px';
}
.channels-list-container {
    display: 'flex';
    flex-direction: column;
    gap: '8px';
}